<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/base_admin::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title>Thêm admin</title>
</head>
<body>
	<section class="hero-section position-relative padding-large"
			 style="background-image: url(/images/banner-image-bg-1.jpg);background-size: cover;background-repeat: no-repeat;background-position: center;height: 250px;padding-top: 75px;padding-bottom: 50px;">
		<div class="hero-content">
			<div class="container">
				<div class="row">
					<div class="text-center">
						<h2>Thêm quản trị viên</h2>
						<div class="breadcrumbs">
								<span class="item">
									<a href="/admin/">Dashboard > </a>
								</span><span class="item">
									<a href="/admin/users?type=2">Quản lý quản trị viên > </a>
								</span>
							<span class="item text-decoration-underline">Thêm quản trị viên</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="container mt-4 p-4" >
			<div class="row">
				<div class="col-md-7 p-2 offset-md-2" >
					<div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-body">
							<form action="/admin/save-admin" enctype="multipart/form-data" method="post" th:object="${adminForm}">
								<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
								<div class="row">
									<div class="col">
										<label class="form-label fw-bold">Họ và tên  <span class="text-danger">*</span></label>
										<input required class="form-control"
											   th:field="*{name}"
											   type="text"
											   pattern="^[A-Za-zÀ-ỹ\s]+$"
											   oninput="this.value = this.value.replace(/[^A-Za-zÀ-ỹ\s]/g, '')">
									</div>

									<div class="col">
										<label class="form-label fw-bold">Số điện thoại  <span class="text-danger">*</span></label>
										<input required
											   class="form-control"
											   th:field="*{mobileNumber}"
											   type="text"
											   pattern="[0-9]{10}"
											   oninput="this.value = this.value.replace(/[^0-9]/g, '')"
											   maxlength="10">
									</div>

								</div>

								<div class="mt-3">
									<label class="form-label fw-bold">Email <span class="text-danger">*</span></label>
									<input required class="form-control" th:field="*{email}" type="email">
								</div>
								<div class="row mt-3">
									<div class="col">
										<label class="form-label fw-bold">Địa chỉ <span class="text-danger">*</span></label>
										<input required class="form-control" th:field="*{address}" type="text">
									</div>
								</div>

								<div class="row mt-3">
									<div class="col">
										<label class="form-label fw-bold">Tỉnh/Thành phố <span class="text-danger">*</span></label>
										<select required
												class="form-control vietnam-city-select"
												th:field="*{city}"
												id="addAdminCity"
												data-ward-select-id="addAdminWard">
											<option value="">Chọn tỉnh/thành phố</option>
										</select>
									</div>

									<div class="col">
										<label class="form-label fw-bold">Xã/Phường <span class="text-danger">*</span></label>
										<select required
												class="form-control"
												th:field="*{state}"
												id="addAdminWard"
												disabled>
											<option value="">Chọn xã/phường</option>
										</select>
									</div>
								</div>

								<div class="row mt-3">
									<div class="col">
										<label class="form-label fw-bold">Mật khẩu <span class="text-danger">*</span></label>
										<input required class="form-control" th:field="*{password}" type="password">
									</div>
									<div class="col">
										<label class="form-label fw-bold">Nhập lại mật khẩu <span class="text-danger">*</span></label>
										<input required class="form-control" name="cpassword" type="password">
									</div>
								</div>
								<div class="mt-3 mb-3">
									<label class="form-label fw-bold">Ảnh đại diện</label>
									<input class="form-control"
										   name="img"
										   type="file"
										   accept=".jpg,.jpeg,.png,.webp,image/jpeg,image/png,image/webp">
								</div>
								<button type="submit" class="btn bg-primary text-white col-md-12">Tạo</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>