<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8">
	<title th:text="${title}">View Book</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
	<section>
		<div class="container">
		    <div class="row justify-content-center mt-5">
		        <div class="col-md-6">
		            <div class="card">
		                <div class="card-body">
		                    <img th:src="@{/images/vnpay-logo.png}" style="width: 200px">
							<h2 class="card-title" style="font-size: 40px; padding-top: 20px ; padding-bottom: 20px;">Thanh Toán Đơn Hàng</h2>
		                    <form action="/user/submitOrder" method="POST">
		                        <div class="form-group" >
		                            <label for="amount">Số tiền: </label> 
		                            <input type="number" class="form-control" id="totalOrderPrice" name="totalOrderPrice" required th:value="${latestOrder.totalAmount}">
		                        </div>
		                        <div class="form-group" style="padding-top: 20px; padding-bottom: 20px;">
		                            <label for="orderInfo">Nội dung:</label>
		                            <input type="text" class="form-control" id="orderInfo" name="orderInfo" th:value=" 'Thanh toan don hang ' + ${latestOrder.orderId}">
		                        </div>
								<button type="submit" class="btn btn-primary" style="float: right;">Thanh toán</button>
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</section>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>